body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use full height for mobile */
  overflow: hidden; /* Prevent overflow */
}
